body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

a {
    text-decoration: none;
    font-size: 45px;
    border: 5px solid #272727;
    color: #272727;
    padding: 40px 80px;
    letter-spacing: 2px;
    position: relative;
    transform: 1s;
}

a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #262626;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1
}

a:hover::before{
    transform: rotateX(0deg);
}

a:hover {
    color: white;
}


a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #262626;
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1
}


a:hover::after{
    transform: rotateY(0deg);
}
